@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@700&family=Noto+Serif+JP:wght@700&family=Noto+Serif+SC:wght@700&family=Noto+Serif+TC:wght@700&display=swap');
@keyframes scrollup{
    from{
        transform: translateY(100vh);
    }
    to{
        transform: translateY(calc(-100% - 100vh));
    }
}
html,body{
    margin: 0px;
    padding:0px;
}
html{
    position:absolute;
}
body::before{
    content:"敲沐鱼功德榜"; /* 标题 */
    color:#0f0;
}
body{
    color:#fff; /* 正文颜色 */
    animation:scrollup 120s linear infinite; /* 滚动时间 */
    background-color:transparent;
    position:relative;
    width:fit-content;
    font-size:50px; /* 正文字号 */
    line-height:50px;
    font-family:'Noto Serif SC', 'Noto Serif TC', 'Noto Serif HK', 'Noto Serif JP'; /* 正文字体 */
    font-weight:700; /* 正文加粗 */
    text-shadow:2px 2px #000; /* 正文阴影 */
    text-align: center;
    overflow-x:hidden;
    overflow-y:hidden;
    white-space:nowrap;
}
p{
    margin: 50px 0px;  /* 段落间距 竖向 横向 */
    text-align: center;
    display: block; /* 默认全部显示 */
}
#_1 ._30 .top::before{  /* 排名第一且30场全勤头衔 */
    content:"老公 ";
    margin:0px;
}
#_1 ._30 .top{  /* 排名第一且30场全勤颜色 */
    color:#fbff28;
}
.top{ /* 并列第一 */
    display: block; /* 显示 */
}
#_1::before{
	content:"小男友： "; /* 当前第一名头衔（会被全勤覆写） */
	margin:0px;
}
#_1{
    color:#76ea8f;/* 当前第一名颜色（会被全勤覆写） */
}
._0, ._1, ._2 { /* 打卡 0场 与 1场 与 2场*/
    display: none; /* 不显示 */
}