@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@700&family=Noto+Serif+JP:wght@700&family=Noto+Serif+SC:wght@700&family=Noto+Serif+TC:wght@700&display=swap');
@keyframes scrollup{
    from{
        transform: translateY(calc(100% + 100vh));
    }
    to{
        transform: translateY(calc(-100% - 20vh));
    }
}
html,body{
    margin: 0px;
    padding:0px;
}
html{
    position:absolute;
}
body::before{
    content:"敲沐鱼功德榜";
    color:#0f0;
}
body{
    color:#fff;
    animation:scrollup 10s linear infinite;
    background-color:transparent;
    position:relative;
    width:fit-content;
    font-size:50px;
    line-height:50px;
    font-family:'Noto Serif SC', 'Noto Serif TC', 'Noto Serif HK', 'Noto Serif JP';
    font-weight:700;
    text-shadow:2px 2px #000;
    text-align: center;
    overflow-x:hidden;
    overflow-y:hidden;
    white-space:nowrap;
}
p{
    margin: 50px;
    text-align: center;
}
._30::before{
    content:"老公 ";
    margin:0px;
}
._30{
    color:#fbff28;
}
#_1::before{
	content:"小男友： ";
	margin:0px;
}
#_1{
    color:#76ea8f;
}