@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@700&family=Noto+Serif+JP:wght@700&family=Noto+Serif+SC:wght@700&family=Noto+Serif+TC:wght@700&display=swap');
@keyframes banner{
    from{
        left:calc(0% + 100vw);
    }
    to{
        left:calc(-100% + 100vw);
    }
}
html,body,p{
    margin:0;
    padding:0
}
html{
    position:absolute;
}
body::before{
    content:"敲沐鱼功德榜:";
    color:#fff;
    margin:0;
}
body{
    margin:0;
    color:#fff;
    animation:banner 10s linear infinite;
    background-color:transparent;
    position:relative;
    width:fit-content;
    font-size:40px;
    line-height:40px;
    font-family:'Noto Serif SC', 'Noto Serif TC', 'Noto Serif HK', 'Noto Serif JP';
    font-weight:700;
    text-shadow:2px 2px #000;
    overflow-x:hidden;
    white-space:nowrap
}
p{
    padding:0 10px;
    display:inline;
}
._30::before{
    content:"老公 ";
}
._30{
    color:#fbff28;
}
#_1::before{
	content:"小男友： "
}
#_1{
    color:#00f;
}
#_6, #_7, #_8, #_9, #_10{
    display: none;
}